#This is a systemd service file used to run the Flask API server as a background service on Ubuntu.
#It ensures that the API starts automatically, keeps running, and restarts if it crashes.

#Replace file paths with your own.

[Unit]
Description=Flask API Service
After=network.target

[Service]
User=robertapi
WorkingDirectory=/home/robertapi/api-server/
ExecStart=/usr/robertapi/api-server/venv/bin/python3 /home/robertapi/api-server/app.py
Restart=always

Environment="DB_HOST=192.168.40.20"
Environment="DB_NAME=trading_sheet"
Environment="DB_USER=trader"
Environment="DB_PASS=traderpass"

[Install]
WantedBy=multi-user.target


#Instead of using python3 app.py

#Use:
  #sudo systemctl start api
  #sudo systemctl stop api
  #sudo systemctl status api
  #sudo systemctl enable api
